* {
    font-family: FiraCode;
}

#clock,
#battery,
#cpu,
#backlight,
#pulseaudio,
#tray,
#language,
#workspaces,
#network,
#custom-sep {
    background: #161320;
    color: #E2E0EC;
    border-radius: 10px;
    border: 4px solid #575268;
    margin-top: 10px;
    margin-bottom: 10px;
}

#battery {
    border-radius: 10px 0 0 10px;
    border-right: 0;
    padding-left: 10px;
    padding-right: 5px;
}

#language,
#cpu,
#backlight,
#pulseaudio,
#custom-sep {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    padding-left: 5px;
    padding-right: 5px;
}

#network {
    margin-right: 15px;
    padding-right: 10px;
    border-radius: 0 10px 10px 0;
    border-left: 0;
    color: #96CDFB;
}

#custom-sep {
    font-size: 22px;
    color: #A8C5E6;
}

window#waybar {
    background-color: transparent;
}

#workspaces {
    padding-right: 2px;
}

#workspaces button {
    border: 0;
    color: #575268;
    border-radius: 0px;
    font-weight: bolder;
    transition: color 0.3s ease-in-out;
}

#workspaces button.active{
    color: #E2E0EC;
    transition: all 0.3s ease-in-out;
}

#clock label{
    color: #161320;
    font-weight:  bolder;
    font-size: 20px;
}

#clock {
    margin-left: 15px;
    font-size: 15px;
    padding-top: 5px;
    padding-right: 21px;
    font-weight: bolder;
    padding-left: 20px;
}

#battery.charging {
    color: #ECE0A8;
}

#battery {
    color: #AAC5A0;
    font-weight: bolder;
}

#battery.warning:not(.charging) {
    color: #ECE0A8;
}

#battery.critical:not(.charging) {
    color: #E97193;
}

#cpu {
    font-weight: bolder;
    color:#DFA7E7;
}

#backlight {
    color: #A8E5E6;
}

#pulseaudio {
    color: #7ab0df;
    font-weight: bolder;
}

#pulseaudio.muted {
    color: #E97193;
}

#tray {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 25px;
}

#workspaces button:hover {
    background: #101317;
}


